body {
  background-color: #EAF3E1;
  color: #653F0D;
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif;
  padding-bottom: 30px;
}

nav {
  background-color: rgb(169,207,84);
  float: left;
  position: fixed;
  width: 100%;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
  font-size: 14px;
}

a {
  text-decoration: none;
}

a:link { color:#513210; } /* unvisited */
a:visited { color:#56229e; } /* visited */
a:hover { color:#1F6F06; } /* mouse over */
a:active { color:##d6977a; } /* selected */

article {
  padding-top: 100px;
}

figcaption {
  font-size: 21px;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 15px;
}

h1 {
  font-size: 19px;
  font-style: italic;
  text-transform: uppercase;
  padding-bottom: 15px;
}

h3 {
  padding-bottom: 15px;
}

.container {
  margin: 0 auto;
  width: 50%;
}

.author {
  font-size: 18px;
  font-weight: bold;
}

p {
  font-size: 16px;
  line-height: 1.5;
  padding-bottom: 10px;
}
